@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-lg my-4 font-semibold whitespace-nowrap">@ViewData["Title"]</h1>
<h2 id="external-login-title" class="subtitle mb-3">Associate your @Model.ProviderDisplayName account.</h2>


<p id="external-login-description" class="text-sky-500 bg-slate-200 rounded-md p-4 my-4">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button> *@

            <div class="">
                <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                <div class="flex items-center gap-4">
                    <div class="flex items-center bg-gray-50 border border-blue-500 px-3 text-sm rounded-lg w-full focus:ring-blue-500">
                        <svg class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                        <input asp-for="Input.Email" placeholder="Your email address..." autocomplete="email"
                        class="bg-gray-50 text-sm outline-none border-none focus:border-0 block w-full pl-6 p-2.5 "  />  
                    </div>
                    <button type="submit" class="primary-btn">Register</button>     
                </div>
                <span asp-validation-for="Input.Email" class="text-red-600"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
