@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-red-500 my-4 subtitle">@ViewData["Title"]</h1>
    <p class="text-red-500">This account has been locked out, please try again later.</p>
</header>
